:root {
  --li-font: 'Dancing Script', cursive;
  --text-color: #44d2b6;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px;
    background-image: url("notebookbg.jpg");
    background-repeat: repeat;       
    background-size: auto;           
    background-position: top left;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: #feff98;
    padding: 20px;
    border-radius:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-btn {
  margin-left: 5px; /* space between the text and the button */
  cursor: pointer;    /* makes it clear it's clickable (changes cursor to a hand) */
  padding: 2px 4px;         
  font-size: 0.9rem;        
  min-width: 0;            
  width: auto;             
  box-sizing: border-box; 
  background: #feff98;
  color: var(--text-color); 
  position: absolute; /* lets us place it inside the li */
  top: 10px;           /* distance from top edge */
  right: 10px;         /* distance from right edge */  
}

.edit-btn {
  margin-left: 5px; 
  cursor: pointer;    
  padding: 2px 4px;
  background: #feff98;
  color: var(--text-color);
  min-width: 0;             /* removes the browser default min width */
  width: auto;              /* lets the width fit text + padding */
  box-sizing: border-box;
  position: absolute;       /* position relative to li */
  bottom: 5px;              /* distance from bottom of li */
  left: 50%;
  transform: translateX(-50%); /* shift to truly center the button */
}

h1 {
    color: var(--text-color);
    font-size: 2rem; 
}

ul {
    list-style-type: none;
    padding: 0;
    background: transparent;
    border-radius: 20px;
}

li {
    background: #ffcce3;
    margin: 5px 0;
    padding: 10px 40px 40px 10px; /* top, right, bottom, left */
    border-radius: 10px;
    position: relative; /* makes this the positioning reference so i can control the positions of the buttons */
    font-family: var(--li-font);
    font-size: 1.5rem; 
    color: var(--text-color);
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 25%;
    border: none;
    background: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}